{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>
    <br>
    <div class="content-section">
        <p>
            This is a work in progress site that I will use for various NBA projects. I have scrapers running
            in my GitHub submodule that will allow me to create tools tracking things such as a teams record
            against the spread, how many times they went under their game's over/under line, etc. Stay tuned 
            for more once I figure out how what all I'd like to put ont this.
        </p>
    </div>

    <h2>Who Am I?</h2>
    <center>    
    <div class="content-section" >
        <h3>Casey Steele</h3>
        <p>caseysteele24@gmail.com</p>
        <img class="rounded-circle" src="..\static\profile_pics\employee_pics\casey_lake_tahoe.jpg" alt="picture of Casey" height=400 width=300>
        <br><br>
        <p>BRING BACK OUR SONICS
        </p>
    </div>
    </center>
{% endblock content %}