{% extends "layout.html" %}
{% block content %}
    <h1>About Us</h1>
    <br>
    <div class="content-section">
        <p>
            TEXT
        </p>
    </div>

    <h2>Meet Our Team</h2>
    <center>    
    <div class="content-section" >
        <h3>NAME</h3>
        <p>EMAIL</p>
        <img class="rounded-circle" src="..\static\profile_pics\employee_pics\casey_lake_tahoe.jpg" alt="picture of Casey" height=400 width=300>
        <br><br>
        <p>TEXT
        </p>
    </div>
    </center>
{% endblock content %}