{% extends "layout.html" %}
{% block content %}


<h1>Does a Person's Preferred Streaming Service Provide Insight Into What Vacation Home Style They Would Like?</h1>
<br>

<div class="content-section">
    <img src="..\static\graphs\streaming_by_vacation_home_type.JPG" alt='graph' width="700">
    <br><br>
    <p>Every once in a while I will have a question pop into my head that I need an answer to. I was looking at some recent survey data and noticed
        that we had asked for respondents to give us their preferred streaming service. That got me to wondering... do people who like one particular 
        streaming service have different preferences on where they want to stay while on vacation? Turns out, there are some slight differences!
        <ul>
            <li>People who prefer to stay in hotels are the least likely to prefer Netflix as their streaming service, and the most likely to prefer HBO Max</li>
            <li>Modern Home and Hotel stayers are less likely to have a favorite streaming service at all</li>
            <li>Small House (aka AirBnB) seekers have the strongest preference for Disney+ of all home types</li>
            <li>1/5th of cabin seekers prefer Amazon Prime Video</li>
        </ul>
    </p>
</div>

{% endblock content %}